/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Lato");
@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'Lato, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-button-typography($custom-typography);
@include mat-toolbar-typography($custom-typography);


// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

.bg {
    background-image: url("./assets/Headspace.jpg");
    background-position: center center;
  
    background-repeat: no-repeat;
  
    background-attachment: fixed;
  
    background-size: cover;
  
    background-color: #464646;
  
    min-height: 1200px;
  }